<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <ExtendedJsonLayout complete="false" properties="true"
                                jsonAdapterClassName="org.laurell.jsonlayout.example.LogFormatter">
            </ExtendedJsonLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>